.heroOverlay{
    background: linear-gradient(270deg, rgba(5, 22, 50, 0) 0%, rgba(5, 22, 50, 0.9) 69.79%, #051632 100%);

}

 .videoOverlay{
    background: linear-gradient(0deg, rgba(5, 22, 50, 0.7), rgba(5, 22, 50, 0.7))
 }
 .swiper-pagination-bullets{
   bottom: 0.52083333333vw!important;
   display: flex;
   justify-content: center;
 }
 .swiper-pagination-bullet{
    width: 1.354vw!important;
    opacity: 0.5!important;
    border-radius: 0!important;
    height: 2px!important;
    background-color: #000!important;
    margin-right: 0!important;
    margin-left: 0.93vw!important;
    transition: .8s all!important;
 }
 .goalCarousel .swiper-pagination-bullet{
   background-color: #fff!important;
 }
 .swiper-pagination-bullet-active {
    width: 4.270vw!important;
    opacity: 1!important;
 }
 .swiper-button-prev,.swiper-button-next{
    background: url(../images/svgs/carouselBlackArrow.svg) no-repeat!important;
    background-size: cover!important;
    width: 0.729vw!important;
    height: 0.9375vw!important;
    top: unset!important;
}
.goalCarousel .swiper-button-prev,.goalCarousel .swiper-button-next{
   background: url(../images/svgs/carouselWhiteArrow.svg) no-repeat!important;
   background-size: cover!important;
}  

.swiper-button-prev{
   bottom: 0.20833333333vw !important;;
}
 .swiper-button-next{
    transform: rotate(180deg)!important;
   bottom: 0.20833333333vw !important;;

 }
.partnersCarousel .swiper-button-prev{
   left: 26.5625vw!important;
}
 .partnersCarousel .swiper-button-next{
   right: 26.5625vw!important;

 }
.photoCarousel .swiper-button-prev{
   left: 40.15625vw!important; 
}
 .photoCarousel .swiper-button-next{ 
   right: 40.15625vw!important; 

 }
 .goalCarousel .swiper-button-prev{
   left: 10.4166666667vw!important;
}
.goalCarousel .swiper-button-next{
   right: 10.4166666667vw!important;
}
 .swiper-button-prev::after,.swiper-button-next::after{
    display: none;
}


.animateArrow{
   animation:arrowAnimation 1s infinite linear
}

@keyframes arrowAnimation {
   0%{
      top: 0px;
   }
   50%{
      top:5px
   }
   100%{
      top:0
   }
}









.photoCarousel .swiper-slide{
   padding-top: 3.75vw!important;
   transition: .5s;
   width: 58.90625vw;
   margin-right: 3.7vw;
   border-radius: 1.04166666667vw!important;
   overflow: hidden;
}
.photoCarousel .swiper-slide img{
   transform: translateY(0);
   transition: .8s all;
   border-radius: 1.04166666667vw!important;

}
.photoCarousel .swiper-slide-active img{
   transform: translateY(-3.75vw) 
   }
.majorCarousel{
   margin-right: unset!important;
   padding-bottom: 3.75vw!important;
   margin-left: auto;
}
.majorCarouselWrapper{
   display: flex;
   overflow: hidden;
}
.majorCarouselSlide{
   transition: .8s all!important;
   width: 20.4583333333vw;
   min-width: 20.4583333333vw;
   margin-right:2.1875vw;
   height: 29.84375vw;
   cursor: pointer;

}
.majorCarouselSlideActive{
   width: 33.28125vw;
   min-width: 33.28125vw;
   cursor: initial;

}
.majorCarouselSlideActive .majorOverlay{
   z-index: 5;

}
.majorCarouselSlideActive .content{
   z-index: 6;
}

.majorOverlay{
   background: linear-gradient(0deg, rgba(5, 22, 50, 0.5), rgba(5, 22, 50, 0.5));
}

.majorCarouselSlideActive .content{
   top: 4.89583333333vw;
   padding-left: 3.7vw;
   padding-right: 3.7vw;
}
.majorCarouselSlideActive .content h5{
   max-width: 700px;
   animation: majorFade .8s linear;
}
@keyframes majorFade {
   0%{opacity: 0;}
   65%{opacity: 0;}
   100%{opacity: 1;}
}

.majorCarouselSlideActive .content p{
   opacity: 1;
   animation: majorFade 1s linear ; 

}
.majorCarouselSlideActive .content img{
   opacity: 1;
   animation: majorFade 1.2s linear ; 
}

.majorCarousel .swiper-pagination-bullets {
   justify-content: start;
   left: 2.6vw!important;
}

.majorCarousel .swiper-button-next{

   right:42.2vw!important
}



.mapOverlay{
   background: linear-gradient(180deg, rgba(5, 22, 50, 0) 0%, rgba(5, 22, 50, 0.9) 69.79%, #051632 100%);
}

.goalCarousel{
   margin-top: auto!important;
   padding-bottom: 3.75vw!important;
   /* margin-bottom: 4.16666666667vw!important; */
}


.goalCarousel .swiper-slide-active p{
   opacity: 1;
}
.goalCarousel .swiper-slide{
   transition-duration: 500ms!important;
}


.awarenessSlider.active .tagline{
   top:0;
   opacity: 1;
}
.awarenessSlider{
   pointer-events: none;
}
.awarenessSlider.active{
   pointer-events: initial;
}
.awarenessSlider.active .heading{
   top:0;
   opacity: 1;
}
/* .awarenessSlider.active p{
   top:0;
   opacity: 1;
}
.awarenessSlider.active .awarnenessReadMore{
   opacity: 1;
} */
.awarenessSlide.active p{
   top:0;

   opacity:1
}
.awarenessSlide.active .awarnenessReadMore{
   opacity:1
}
.awarenessBrandIcon1.active{
   transform: rotate(0deg);
}
.awarenessBrandIcon2.active{
   transform: rotate(15deg);
}
.awarenessBrandIcon3.active{
   transform: rotate(30deg);
}
.awarenessBrandIcon4.active{
   transform: rotate(45deg);
}

.gmnoprint, .gm-fullscreen-control{
   display: none!important;
}
#videoPopup{
   transition: .8s all;
   opacity: 0;
   pointer-events: none;
}
#videoPopup.active{
   opacity: 1;
   pointer-events: initial;
}
.fslightbox-slide-number-container{
   opacity: 0!important;
}

.fadeInKarBhai{
   animation: fadeInKarBhai 2s infinite ;
}
@keyframes fadeInKarBhai {
   0%{
      opacity: 0.5;

   }
   50%{
      opacity: 1;
   }
   100%{
      opacity:0.5;
   }

}
.gm-style .gm-style-iw-tc::after{

   background-color: rgba(5, 22, 50,0.8)!important;
}
.gm-style-iw.gm-style-iw-c{
   background-color: rgba(5, 22, 50,0.8)!important;
   padding:1.108333333vw!important;
   max-width: 18vw!important;
   max-height: 30vw!important;
}
.gm-style-iw-d{
   overflow: hidden!important;
}
.gm-style-iw-d h5{
   font-size: 2vw;
   margin-top: 1vw;
    font-family: 'nunito';
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.gm-style-iw-d button{
   font-size: 1vw;
    font-family: 'nunito';
    color: white; 
    width: 100%;
    margin-top: 10px;
     border-radius: 0.6vw;
   padding: 0.3vw;
    background-color: rgb(242, 169, 67);
}
.gm-style-iw-d img{
   border-radius: 0.6vw;
}
#closeWindow{
   position: absolute;
    top: 0;
    right: 0;
    width: 2vw;
}
.gm-ui-hover-effect{
   opacity: 0!important;
   top: 5px!important;
   right: 5px!important;
}
/* #firstHeading{
   font-size: 1.30208333333vw;
   font-family: 'nunito';
   color: white;
}
#bodyContent div{
   width:10vw;
}
#bodyContent div img{
   width:100%
} */
